{% if not is_home %}
    <div class='featured featured-topics' id='featured'>
{% else %}
    <div class='featured' id='featured'>
{% endif %}
    {% if not is_post %}
        <div class='featured-top'>
            <a href='#pins' class='fab fa-github actived featured-tabs' id='tabPins'></a>
            <a href='#crates' class='fab fa-rust featured-tabs' id='tabCrates'></a>
            <a href='#apis' class='fas fa-cloud featured-tabs' id='tabApis'></a>
        </div>
    {% endif %}
    {% if is_post %}
        <div class='featured-toc-header'>Topics</div>
        <input type='search' placeholder='Search...' class='featured-search no-border-top' id='searchTopicsFeatured'>
        <div class='featured-body' id='tocPage'></div>
    {% else %}
        <input type='search' placeholder='Search...' class='featured-search' id='searchItemsFeatured'>
        <div class='featured-body' id='featuredList'></div>
    {% endif %}
</div>