{% if is_home %}
    <div class='featured' id='featured'>
        <div class='featured-top'>
            <a href='#pins' class='fab fa-github actived featured-tabs' id='tabPins'></a>
            <a href='#crates' class='fab fa-rust featured-tabs' id='tabCrates'></a>
            <a href='#apis' class='fas fa-cloud featured-tabs' id='tabApis'></a>
            <a href='#projects' class='fas fa-star featured-tabs' id='tabProjects'></a>
        </div>
        
        <input type='search' placeholder='Search...' class='featured-search' id='searchItemsFeatured'>
        <div class='featured-body' id='featuredList'></div>
    </div>
{% endif %}