<header>
    <a href="{{ url_root }}" class="logo"></a>
    
    {% if not is_post %}
        <div class='tab actived'>Articles</div>
        <div class='tab'>Projects</div>
        <div class='tab'>Documentation's</div>
        <div class='tab'>About</div>
        <div class='tab'>My Links</div>
    {% else %}
        <a href="{{ url_root }}" class="fa-solid fa-arrow-left icon"></a>
        <div class='label' id='headerLabel'>{{ post_title.replace(">", "") }}</div>
    {% endif %}

    <div class='nav'>
        {% if not is_blog %}
            <input type='text' placeholder='Search...' id='searchInput'>
            <div class='fa-solid fa-search icon' id='searchToggleBtn'></div>
        {% endif %}

        <div class='fa-solid fa-arrow-up' id='scrollToTopBtn'></div>
    </div>
</header>