<header>
    <a href='{{ url_root }}' class='logo'></a>
    
    <div class='nav'>
        
        <a href='{{ url_root }}' class='menu {% if is_home == True %}actived{% endif %}' id='posts-tab-menu'>Home</a>
        <a href='{{ url_root }}/blog' class='menu {% if is_home != True %}actived{% endif %}' id='posts-tab-menu'>Blog</a>
        <a href='https://docs.kremilly.com' class='menu' id='docs-tab-menu'>Docs</a>

        <a href='{{ github }}' class='tab' id='github-tab-menu'>
            <div class='fab fa-github icon'></div>
        </a>

        <a href='{{ linkedin }}' class='tab' id='github-tab-menu'>
            <div class='fab fa-linkedin icon'></div>
        </a>
        
        {% if is_home != True %}
            <div class='fas fa-list icon' id='tocBoxBtn'></div>
        {% endif %}

        <div class='fas fa-arrow-up icon' id='scrollToTopBtn'></div>
    </div>
</header>

{% include 'partials/toc-box.html' %}