<div class='menu-links'>
    <a href='{{ url_root }}' class='tab' id='blog-tab-menu'>
        <div class="text">Blog</div>
        <div class="bubble">{{ total_posts }}</div>
    </a>

    <a href='{{ url_root }}/docs' class='tab' id='docs-tab-menu'>
        <div class="text">Docs</div>
        <div class="bubble">{{ total_docs }}</div>
    </a>
    <a href='{{ url_root }}/projects' class='tab' id='projects-tab-menu'>Projetos</a>
    <a href='{{ url_root }}/links' class='tab' id='links-tab-menu'>Links</a>
</div>