<div class='menu-links'>
    <a href='{{ url_doamin }}' class='tab' id='docs-tab-menu'>Home</a>

    <a href='{{ url_root }}' class='tab' id='blog-tab-menu'>
        <div class="text">Blog</div>
        <div class="bubble">{{ total_posts }}</div>
    </a>

    <a href='{{ url_root }}/docs' class='tab' id='docs-tab-menu'>Docs</a>

    <a href='{{ url_root }}/rss' class='tab' id='rss-tab-menu'>
        <div class='fal fa-rss icon'></div>
    </a>

    <a href='{{ github }}' class='tab' id='github-tab-menu'>
        <div class='fab fa-github icon'></div>
    </a>
</div>