<div class='menu-box' id='menuBox'>
    <div class='filters'>
        <div class='item actived' id='menuBoxTogglePagesBtn'>Pages</div>
        <div class='item' id='menuBoxToggleDocsBtn'>Docs</div>
    </div>

    <div class='list' id='menuBoxTogglePages'>
        <a href='{{ url_root }}'>Home</a>
        <a href='{{ url_root }}/links'>Links</a>
        <a href='mailto:contact@kremilly.com'>Contact</a>
    </div>

    <div class='list' id='menuBoxToggleDocs'>
        {% for doc in list_docs %}
            <a href='{{ doc.url }}'>{{ doc.title }}</a>
        {% endfor %}
    </div>
</div>