<article class='post-content'>
    <div class='cover'>
        <img src="{{ post_cover }}" alt="" srcset="">
    </div>
    
    <div class='header'>
        <a href='{{ post_url }}'>
            <h1>{{ post_title }}</h1>
        </a>

        <div class='meta'>
            <div class='author'>{{ post_author }}</div>

            <div class='item'>
                <div class='fas fa-clock icon'></div>
                {{ post_read_time }}
            </div>

            <div class='item' id='stats-post'></div>

            <div class='date'>
                <div class='fas fa-calendar icon'></div>
                {{ post_date }}
            </div>
        </div>
    </div>

    <div class='content'>
        {{ html_content }}
    </div>

    {% if post_tags.total > 0 %}
        <div class='tags glass-effect'>
            {% for tag in post_tags.list %}
                <a href='{{ url_root + "/blog?q=" + tag }}' class='tag'>{{ tag }}</a>
            {% endfor %}
        </div>
    {% endif %}
    
    {% include 'partials/post-footer.html' %}
</article>