<article class='post-content'>
    {{ html_content }}

    <div class='footer'>
        <div class='tags'>
            {% for tag in post_tags %}
                <a href='#'>{{ tag }}</a>
            {% endfor %}
        </div>

        <div class='social'>
            <a href='#' class='fas fa-share-nodes'></a>
            <a href='#' class='fab fa-whatsapp'></a>
            <a href='#' class='fab fa-facebook'></a>
            <a href='#' class='fab fa-x-twitter'></a>
            <a href='#' class='fab fa-linkedin'></a>
        </div>
    </div>
</article>