<div class='footer'>
    <div class='meta'>
        <div class='left'>
            {% if post_export == 'enabled' or post_export == None %}
                <div class='footer-btn' id='postDownloadPdfBtn'>
                    <div class='fas fa-file-pdf icon'></div>
                    <div class='text'>Download</div>
                </div>
            {% endif %}
        </div>

        <div class='right'>
            <div class='footer-btn'>
                <a data-sharer='facebook' data-title='{{ title }}' data-url='{{ url }}' title='Share on Facebook' class='fab fa-facebook'></a>
                <a data-sharer='twitter' data-title='{{ title }}' data-url='{{ url }}' title='Share on X (Twitter)' class='fab fa-x-twitter'></a>
                <a data-sharer='linkedin' data-title='{{ title }}' data-url='{{ url }}' title='Share on LinkedIn' class='fab fa-linkedin'></a>
                <a data-sharer='whatsapp' data-title='{{ title }}' data-url='{{ url }}' title='Share on WhatsApp' class='fab fa-whatsapp'></a>
            </div> 
        </div>
    </div>

    <div class='box glass-effect' id='postReadAlsoBox'>
        <div class='body'>
            {% for post in post_posts_recommends %}
                <a href='{{ post.url }}' class='list'>
                    {{ post.title }}
                    <div class='right'>{{ post.date }}</div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>