<ul class='posts'>
    <input type='search' id='postsSearch' placeholder='Search posts...'>

    {% for post in list_posts %}
        <li class='article'>
            <div class='date'>{{ post.date_fmt }}</div>
            <a href='{{ post.url }}'>
                <h2>{{ post.title }}</h2>
            </a>

            <p>{{ post.description }}</p>

            {% for tag in post.tags %}
                <a href='?search={{ tag.strip() }}' class='tag'>{{ tag.strip() }}</a>
            {% endfor %}
        </li>
    {% endfor %}
</ul>