<div class='footer'>
    <div class='meta'>
        <div class='left'>
            {% if is_post and post_tags.total > 0 %}
                <div class='footer-btn' id='postTagsBtn'>
                    <div class='fas fa-tag'></div>
                    Tags
                </div>
            {% endif %}

            {% if is_post and post_files.total > 0 %}
                <div class='footer-btn' id='postFilesBtn'>
                    <div class='fas fa-paperclip'></div>
                    Files
                </div>
            {% endif %}

            <!--<div class='footer-btn' id='postReadAlsoBtn'>
                <div class='fas fa-blog'></div>
                Read also...
            </div>-->
        </div>

        <div class='right'>
            <div class='footer-btn' id='postShareBtn'>
                <div class='fas fa-share'></div>
                Share
            </div>

            {% if post_export == 'enabled' or post_export == None or is_doc %}
                <div class='footer-btn' id='postDownloadPdfBtn'>
                    <div class='fas fa-file-pdf'></div>
                    Download
                </div>
            {% endif %}
        </div>
    </div>

    <div class='share' id='postShareBox'>
        <div class='qrcode'>
            <img src='{{ qrcode }}' />
        </div>

        <div class='content'>
            <div class='icons'>
                <a data-sharer='email' data-title='{{ title }}' data-url='{{ url }}' class='fas fa-envelope'></a>
                <a data-sharer='whatsapp' data-title='{{ title }}' data-url='{{ url }}' class='fab fa-whatsapp'></a>
                <a data-sharer='facebook' data-title='{{ title }}' data-url='{{ url }}' class='fab fa-facebook'></a>
                <a data-sharer='twitter' data-title='{{ title }}' data-url='{{ url }}' class='fab fa-x-twitter'></a>
                <a data-sharer='linkedin' data-title='{{ title }}' data-url='{{ url }}' class='fab fa-linkedin'></a>
            </div>
    
            <input type='text' value='{{ url }}' id='postShareBoxInput' readonly>
        </div>
    </div>

    {% if is_post and post_tags.total > 0 %}
        <div class='box' id='postTagsBox'>
            <div class='body'>
                {% for tag in post_tags.list %}
                    <a href='#' class='side'>{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if is_post and post_files.total > 0 %}
        <div class='box' id='postFilesBox'>
            <div class='body'>
                {% for file in post_files.list %}
                    <a href='{{ file }}' target='_blank' class='list'>{{ file.split('/')[-1] }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>