<article class='post-content'>
    <div class='header'>
        <a href='{{ post_url }}'>{{ post_title.replace('>', '') }}</a>

        <div class='meta'>
            <div class='author'>{{ post_author }}</div>

            <div class='reading-time' id='readingTimePost'>
                <div class='fas fa-clock icon'></div>
            </div>

            <div class='date'>
                <div class='fas fa-calendar icon'></div>
                {{ post_date }}
            </div>
        </div>
    </div>

    <div class='content'>
        {{ html_content }}
    </div>

    <div class='footer'>
        <div class='tags'>
            {% for tag in post_tags %}
                <a href='#'>{{ tag }}</a>
            {% endfor %}
        </div>

        <div class='social'>
            <a href='#' class='fas fa-share-nodes'></a>
            <a href='#' class='fab fa-whatsapp'></a>
            <a href='#' class='fab fa-facebook'></a>
            <a href='#' class='fab fa-x-twitter'></a>
            <a href='#' class='fab fa-linkedin'></a>
        </div>
    </div>
</article>