* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: var(--border-radius);
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
	background-color: var(--color-pre-fg);
}

body {
    line-height: 1.5;
    color: var(--color-text);
    padding: var(--spacing-xl);
    font-family: var(--font-body);
    background-color: var(--color-bg);
    background-image:
        linear-gradient(to right, rgba(255,255,255,0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255,255,255,0.1) 1px, transparent 1px);
    background-size: 40px 40px;
}
