header{
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 99999999999;
    box-sizing: border-box;
    color: var(--color-text);
    height: var(--header-size);
    box-shadow: var(--box-shadow);
    background: var(--color-pre-bg);
}

header > .logo {
    float: left;
	height: 100%;
    width: 2.5em;
	outline: none;
	cursor: pointer;
	margin-right: auto;
    background-size: 70%;
    box-sizing: border-box;
	background-position: center;
    background-repeat: no-repeat;
    background-image: var(--logo);
}

header > .logo:hover { background-color: var(--color-border); }

header > .label{
    float: left;
    cursor: default;
    font-weight: 600;
    padding-left: 1em;
    padding-right: 1em;
    line-height: calc(var(--header-size));
}

header > .tab {
    width: 6em;
    float: left;
    cursor: pointer;
    font-size: .8em;
    font-weight: 600;
    text-align: center;
    line-height: 3.7em;
}

header > .actived {
    background: var(--color-border);
}

header > .tab:hover { background: var(--color-border); }

header > .nav{
    float: right;
    height: var(--header-size);
    line-height: var(--header-size);
}

header > .nav > div{
    width: 3em;
    float: left;
    cursor: pointer;
    text-align: center;
    line-height: calc(var(--header-size) - .05em);
}

header > .nav > div:hover{
    background: var(--color-border);
}

header > .nav > .actived{
    background: var(--color-border);
}

header > nav > .icon {
    float: left;
    width: 3.6em;
    height: 3.8em;
    color: inherit;
    cursor: pointer;
    font-size: .8em;
    line-height: 3.8em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

header > nav > .showed {
    background: var(--body-color);
}

header > nav > a:hover { background: var(--body-color); }

.search-bar {
    top: 0;
    width: 100%;
    height: 2.5em;
    display: none;
    margin-top: -1em;
    line-height: 2.5em;
    margin-bottom: 1em;
    box-shadow: var(--box-shadow);
    background: var(--bg-hover-color);
}

.search-bar > input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: inherit;
    font-weight: 600;
    padding-left: 1%;
    padding-right: 1%;
    background: inherit;
    font-family: inherit;
    border-left: .5em solid transparent;
}

.search-bar > input:hover, .search-bar > input:focus {
    border-left-color: var(--border-color);
    animation: border-slide .5s ease-in-out forwards;
}

.search-bar > input:hover::placeholder { color: var(--text-color); }

.search-bar > input::placeholder, .search-bar > input:focus::placeholder { opacity: .7; }


#scrollToTopBtn{
    display: none;
}