@keyframes pin-repos-bg {
    0% { background: inherit; }
    100% { background: var(--color-bg); }
}

@keyframes border-slide {
    0% { border-left-width: 0; }
    
    100% {
        border-left-width: .5em;
        border-color: var(--border-color);
    }
}

@keyframes featured-caller {
    0% { border-left-color: var(--color-link); }
    50% { border-left-color: var(--color-text); }
    75% { border-left-color: var(--color-link); }
    100% { border-left-color: var(--color-text); }
}
