.post-content {
    margin: 60px auto;
    box-sizing: border-box;
    padding: var(--spacing-xl);
    box-shadow: var(--box-shadow);
    background: var(--color-pre-bg);
    min-width: var(--min-width-size);
    max-width: var(--max-width-size);
    border-radius: var(--border-radius);
    border: .1em solid var(--color-border);
}