.post-content > .footer > .meta {
    display: flex;
    align-items: center;
    margin-bottom: -2em;
    height: var(--spacing-xl);
    justify-content: space-between;
    line-height: var(--spacing-xl);
    border-top: .1em solid var(--color-border);
}

.post-content > .footer > .meta > .left > .footer-btn {
    height: 3em;
    float: right;
    color: inherit;
    cursor: pointer;
    font-size: .8em;
    line-height: 3em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: var(--spacing-sm);
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
    border-radius: var(--border-radius);
}


.post-content > .footer > .meta > .right > .footer-btn {
    height: 3em;
    float: right;
    color: inherit;
    cursor: pointer;
    font-size: .9em;
    line-height: 3em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: var(--spacing-sm);
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
    border-radius: var(--border-radius);
}

.post-content > .footer > .meta > .left > .footer-btn > .icon, 
.post-content > .footer > .meta > .right > .footer-btn > .icon {
    float: left;
    line-height: 3em;
}

.post-content > .footer > .meta > .left > .footer-btn > .text, 
.post-content > .footer > .meta > .right > .footer-btn > .text {
    float: left;
    display: none;
}

.post-content > .footer > .meta > .left > .footer-btn {
    float: left;
    margin-right: var(--spacing-sm);
}

.post-content > .footer > .meta > .right > .footer-btn {
    float: left;
    margin-left: var(--spacing-sm);
}

.post-content > .footer > .meta > .right > .footer-btn  > .fab {
    color: inherit;
    text-decoration: none;
}

.post-content > .footer > .meta > .right > .footer-btn > .fa-whatsapp:hover { color: #25D366; }

.post-content > .footer > .meta > .right > .footer-btn > .fa-facebook:hover { color: #3B5998; }

.post-content > .footer > .meta > .right > .footer-btn > .fa-linkedin:hover { color: #0077B5; }

.post-content > .footer > .meta > .right > .footer-btn > .fa-telegram:hover { color: #1C93E3; }

.post-content > .footer > .meta > .right > .footer-btn > .fa-x-twitter:hover { color: #000000; }

.post-content > .footer > .meta > .left > .actived, 
.post-content > .footer > .meta > .right > .actived, 
.post-content > .footer > .meta > .left > .footer-btn:hover, 
.post-content > .footer > .meta > .right > .footer-btn:hover {
    background: var(--color-border);
    animation: bg-color .5s ease-in-out forwards;
}

.post-content > .footer > .meta > .left > .actived > .text, 
.post-content > .footer > .meta > .right > .actived > .text, 
.post-content > .footer > .meta > .left > .footer-btn:hover > .text, 
.post-content > .footer > .meta > .right > .footer-btn:hover > .text {
    display: block;
    animation: margin-right .5s ease-in-out forwards;
}

.post-content > .footer > .meta > .left > .actived, 
.post-content > .footer > .meta > .right > .actived, 
.post-content > .footer > .meta > .left > .footer-btn:hover, 
.post-content > .footer > .meta > .right > .footer-btn:hover {
    background: var(--color-border);
    animation: bg-color .5s ease-in-out forwards;
}
