.post-content {
    margin: auto;
    max-width: 900px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: var(--spacing-xl);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border-glass);
    box-shadow: 0 8px 32px var(--box-shadow-glass);
}

.post-content > .cover {
    top: 0;
    z-index: -1;
    margin: -2.7em;
    max-height: 300px;
    background-position: cover;
    box-shadow: var(--box-shadow);
    margin-bottom: var(--spacing-lg) * 2;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.post-content > .tags {
    position: static;
    box-sizing: border-box;
    padding: var(--spacing-sm);
    box-shadow: var(--box-shadow);
    background: var(--color-border);
    margin-bottom: var(--spacing-md);
    border-radius: var(--border-radius);
    border: .1em solid var(--color-pre-bg);
}

.post-content > .tags::before {
    display: block;
    content: "Tags";
    font-size: .9em;
    font-weight: 600;
    padding-left: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
}

.post-content > .tags > .tag {
    height: 3em;
    color: inherit;
    font-size: .8em;
    font-weight: 600;
    line-height: 3em;
    text-decoration: none;
    display: inline-block;
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
}

.post-content > .tags > .tag:hover {
    border-radius: var(--border-radius);
    animation: bg-color .5s ease-in-out forwards;
}

@media screen and (max-width: 600px) {
    .post-content {
        padding: var(--spacing-md);
    }

    .post-content > .cover {
        width: 100%;
        margin: auto;
    }

    .post-content > .tags {
        margin-bottom: var(--spacing-sm);
    }
}