.post-content > .footer > .tags {
    display: flex;
    align-items: center;
    margin-bottom: -2.8em;
    height: var(--spacing-xl);
    justify-content: flex-start;
    line-height: var(--spacing-xl);
}

.post-content > .footer > .tags > a {
    color: inherit;
    font-size: .8em;
    cursor: pointer;
    padding-left: .5em;
    padding-right: .5em;
    display: inline-block;
    text-decoration: none;
}

.post-content > .footer > .tags > a:hover { text-decoration: underline; }

.post-content > .footer .tags > a > .fas { margin-right: calc(var(--spacing-sm) / 2); }

.post-content > .footer > .social {
    display: flex;
    align-items: center;
    margin-bottom: -1.5em;
    justify-content: flex-end;
    height: var(--spacing-xl);
    line-height: var(--spacing-xl);
    border-top: .1em solid var(--color-border);
}

.post-content > .footer > .social > input {
    border: none;
    outline: none;
    height: 2.5em;
    color: inherit;
    cursor: pointer;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 2.5em;
    background: inherit;
    border-left: .5em solid transparent;
}

.post-content > .footer > .social > input:hover, .post-content > .footer > .social > input:focus {
    box-shadow: var(--box-shadow);
    background: var(--color-border);
    border-radius: var(--border-radius);
    border-left-color: var(--border-color);
    animation: border-slide .5s ease-in-out forwards;
}

.post-content > .footer > .social > .social-media { margin: 0 var(--spacing-sm); }

.post-content > .footer > .share {
    float: right;
    display: none;
    position: relative;
    margin-top: -7.25em;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    padding-left: var(--spacing-md);
    background: var(--color-border);
    padding-right: var(--spacing-md);
    padding-bottom: var(--spacing-md);
    border-radius: var(--border-radius);
    border: .1em solid var(--color-pre-bg);
}

.post-content > .footer > .share > .icons {
    height: 2.5em;
    font-size: 1.25em;
    text-align: center;
    line-height: 2.5em;
}

.post-content > .footer > .share > .icons > a {
    float: left;
    width: 2.5em;
    height: 2.5em;
    color: inherit;
    cursor: pointer;
    line-height: 2.5em;
    text-decoration: none;
}

.post-content > .footer > .share > .icons > .fa-whatsapp:hover { color: #25D366; }

.post-content > .footer > .share > .icons > .fa-facebook:hover { color: #3B5998; }

.post-content > .footer > .share > .icons > .fa-linkedin:hover { color: #0077B5; }

.post-content > .footer > .share > .icons > .fa-x-twitter:hover { color: #000000; }

.post-content > .footer > .share > .icons > .fas:hover { color: var(--color-link-hover); }

.post-content > .footer > .share > input {
    width: 100%;
    border: none;
    outline: none;
    color: inherit;
    cursor: pointer;
    text-align: center;
    padding: var(--spacing-sm);
    background: var(--color-pre-bg);
    border-left: .1em solid transparent;
    border-radius: var(--border-radius);
}

.post-content > .footer > .share > input:hover {
    background: var(--color-bg);
    animation: border-slide .5s ease-in-out forwards;
}

.post-content > .footer > .share > input:focus {
    background: var(--color-bg);
    border-color: var(--color-link-hover);
    animation: border-slide .5s ease-in-out forwards;
}

.post-content > .footer > .social > .footer-btn {
    float: left;
    height: 3em;
    color: inherit;
    cursor: pointer;
    font-size: .8em;
    line-height: 3em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: var(--spacing-sm);
    margin-left: var(--spacing-sm);
    padding-right: var(--spacing-md);
    border-radius: var(--border-radius);
}

.post-content > .footer > .social > .footer-btn > .fas {
    margin-left: var(--spacing-sm);
    margin-right: var(--spacing-sm);
}

.post-content > .footer > .social > .actived, .post-content > .footer > .social > .footer-btn:hover { background: var(--color-border); }
