.post-content > .footer > .meta {
    display: flex;
    align-items: center;
    margin-bottom: -2em;
    height: var(--spacing-xl);
    justify-content: space-between;
    line-height: var(--spacing-xl);
    border-top: .1em solid var(--color-border);
}

.post-content > .footer > .meta > .social-media { margin: 0 var(--spacing-sm); }

.post-content > .footer > .meta > .footer-btn, 
.post-content > .footer > .meta > .share > .footer-btn {
    float: right;
    height: 3em;
    color: inherit;
    cursor: pointer;
    font-size: .8em;
    line-height: 3em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: var(--spacing-sm);
    padding-right: var(--spacing-md);
    border-radius: var(--border-radius);
}

.post-content > .footer > .meta > .footer-btn > .fas, 
.post-content > .footer > .meta > .share > .footer-btn > .fas {
    margin-left: var(--spacing-sm);
    margin-right: var(--spacing-sm);
}

.post-content > .footer > .meta > .share > .footer-btn {
    float: left;
    margin-left: var(--spacing-sm);
}

.post-content > .footer > .meta > .actived, 
.post-content > .footer > .meta > .share > .actived, 
.post-content > .footer > .meta > .footer-btn:hover, 
.post-content > .footer > .meta > .share > .footer-btn:hover { background: var(--color-border); }
