.posts {
    margin: auto;
    max-width: 900px;
    margin-top: 60px;
    padding-left: 0 !important;
}

.posts > .section {
    width: 100%;
    outline: none;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: var(--spacing-sm);
    color: var(--color-pre-fg);
    background: var(--color-pre-bg);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
}

.posts > .section > .tab {
    height: 3em;
    color: inherit;
    font-size: .8em;
    cursor: pointer;
    font-weight: 600;
    line-height: 3em;
    text-decoration: none;
    display: inline-block;
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
    border-radius: var(--border-radius);
}

.posts > .section > .tab:hover, .posts > .section > .actived {
    border-radius: var(--border-radius);
    animation: bg-color .5s ease-in-out forwards;
}

.posts > input {
    width: 100%;
    outline: none;
    padding: 12px;
    font-weight: 600;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: var(--color-pre-fg);
    background: var(--color-pre-bg);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
}

.posts > input:hover, .posts > input:focus {
    background: var(--color-border);
    animation: border-slide .5s ease-in-out forwards;
}

.posts > ul {
    padding: 0px !important;
}

.posts > li {
    padding: 20px;
    cursor: pointer;
    list-style: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: var(--color-pre-bg);
    border-radius: var(--border-radius);
    border-left: .1em solid transparent;
}

.posts > li > a {
    text-decoration: none;
    color: var(--color-pre-fg) !important;
}

.posts > li > a:hover > h2 {
    text-decoration: underline;
}

.posts > li > h2 {
    margin: 0;
    color: inherit;
    font-size: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    color: var(--color-pre-fg);
}

.posts > li > p {
    margin: 0;
    color: var(--color-pre-fg);
}

.posts > li > .date {
    font-size: .8em;
    color: var(--color-pre-fg);
}

.posts > li:hover {
    box-shadow: var(--box-shadow);
    background: var(--color-border);
    border-left: 0 solid transparent;
    animation: border-slide .5s ease-in-out forwards;
}

.posts > li > .tag {
    height: 3em;
    color: inherit;
    font-size: .8em;
    font-weight: 600;
    line-height: 3em;
    text-decoration: none;
    display: inline-block;
    margin-top: var(--spacing-md);
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
}

.posts > li > .tag:hover {
    border-radius: var(--border-radius);
    animation: bg-color .5s ease-in-out forwards;
}

.posts > .no-results {
    padding: 20px;
    cursor: default;
    list-style: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: var(--color-pre-bg);
    border-radius: var(--border-radius);
    border-left: .1em solid var(--border-color);
}