.post-content {
    width: 800px;
    margin: auto;
    margin-top: 60px;
    box-sizing: border-box;
    padding: var(--spacing-xl);
    box-shadow: var(--box-shadow);
    background: var(--color-pre-bg);
    border-radius: var(--border-radius);
    border: .1em solid var(--color-border);
}

.post-content > .header {
    height: 3em;
    line-height: 3em;
    text-align: center;
    justify-content: center;
    margin-top: calc(-1 * var(--spacing-lg));
}

.post-content > .header > a {
    font-weight: bold;
    text-decoration: none;
}

.post-content > .header > a:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
}

.post-content > .header > a {
    color: inherit;
    cursor: pointer;
    font-size: 1.5em;
    margin-top: -1.2em;
    text-decoration: none;
}

.post-content > .header > .meta {
    font-size: .8em;
    margin-top: -.5em;
}

.post-content > .header > .meta > .date {
    float: right;
    cursor: default;
}

.post-content > .header > .meta > .reading-time {
    float: left;
    cursor: default;
}

.post-content > .header > .meta .icon {
    margin-right: .5em;
    color: var(--color-text);
}

.post-content > .header > h1 {
    color: inherit;
    cursor: pointer;
    font-size: 1.5em;
    margin-top: -.5em;
    text-align: center;
    margin-bottom: -1em;
    text-decoration: none;
    margin-bottom: var(--spacing-xl);
}