.post-content {
    margin: auto;
    max-width: 800px;
    margin-top: 60px;
    box-sizing: border-box;
    padding: var(--spacing-xl);
    box-shadow: var(--box-shadow);
    background: var(--color-pre-bg);
    border-radius: var(--border-radius);
    border: .1em solid var(--color-border);
}

.post-content > .cover {
    top: 0;
    z-index: -1;
    margin: -2.7em;
    max-height: 300px;
    background-position: center;
    margin-bottom: var(--spacing-lg) * 2;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}