.container-projects {
    margin: auto;
    max-width: 900px;
    margin-top: 20px;
}

.container-projects > .label {
    width: 100%;
    outline: none;
    font-weight: 600;
    box-sizing: border-box;
    padding: var(--spacing-sm);
    color: var(--color-pre-fg);
    background: var(--color-pre-bg);
    margin-bottom: var(--spacing-sm);
    border-left-width: .5em !important;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    border-left-color: var(--border-color);
}

.container-projects > .label > a {
    color: inherit;
    text-decoration: none;
}

.container-projects > .label > .right {
    float: right;
    cursor: pointer;
}

.container-projects > .label > .right:hover, 
.container-projects > .label > a:hover {
    text-decoration: underline;
}

.container-projects > .projects {
    width: 100%;
    display: grid;
    gap: var(--spacing-sm);
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}

.container-projects > .projects > .project {
    display: flex;
    padding: 20px;
    color: inherit;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--color-pre-bg);
    margin-bottom: var(--spacing-sm);
    transition: box-shadow 0.3s ease;
    border-radius: var(--border-radius);
    border-left: .1em solid transparent;
}

.container-projects > .projects > .project > .lang {
    float: right;
    font-size: .8em;
    font-weight: 600;
    text-align: center;
    padding: var(--spacing-sm); 
    margin-top: var(--spacing-sm);
}

.container-projects > .projects > .project > h2 {
    margin: 0;
    float: left;
    color: inherit;
    font-size: 1.25em;
    padding-top: .5em;
    padding-bottom: .5em;
    color: var(--color-pre-fg);
}

.container-projects > .projects > .project > p {
    margin: 0;
    flex-grow: 1;
    color: var(--color-pre-fg);
}

.container-projects > .projects > .project:hover {
    backdrop-filter: blur(10px);
    border-left: 0 solid transparent;
    -webkit-backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow-glass);
    background-color: transparent !important;
    animation: border-slide .5s ease-in-out forwards;
}

@media screen and (max-width: 600px) {
    .container-projects > .projects {
        grid-template-columns: 1fr;
    }
}