.projects-box {
    top: 0;
    left: 50%;
    width: 17em;
    display: none;
    position: fixed;
    z-index: 999999;
    box-sizing: border-box;
    border-top: 0 !important;
    color: var(--color-text);
    padding: var(--spacing-md);
    transform: translateX(-50%);
    box-shadow: var(--box-shadow);
    margin-top: var(--header-size);
    background: var(--color-pre-bg);
    padding-bottom: var(--spacing-sm);
    border: .1em solid var(--color-border);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.projects-box > .filters {
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    box-sizing: border-box;
    justify-content: space-between;
    border-radius: var(--border-radius);
}

.projects-box > .filters > .icon {
    width: 25%;
    float: left;
    height: 2.4em;
    cursor: pointer;
    line-height: 2.4em;
    text-align: center;
    text-decoration: none;
    color: var(--color-text);
    border-radius: var(--border-radius);
}

.projects-box > .filters > .actived, .projects-box > .filters > .icon:hover {
    box-shadow: var(--box-shadow);
    background: var(--color-border);
}

.projects-box > .body {
    overflow: auto;
    max-height: 14em;
    margin-left: -1em;
    margin-right: -1em;
    padding: var(--spacing-md);
    box-shadow: inset var(--box-shadow-inverted);
}

.projects-box > .body > .item {
    display: block;
    color: inherit;
    cursor: pointer;
    font-size: .85em;
    font-weight: bold;
    line-height: 2.75em;
    text-decoration: none;
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
    border-radius: var(--border-radius);
}

.projects-box > .body > .item:hover {
    box-shadow: var(--box-shadow);
    background: var(--color-border);
    border-left: 0 solid transparent;
    animation: border-slide .5s ease-in-out forwards;
}

.projects-box > .bottom {
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    box-sizing: border-box;
    padding-top: var(--spacing-sm);
    justify-content: space-between;
    border-top: .1em solid var(--color-border);
}

.projects-box > .bottom > .item {
    width: 50%;
    float: left;
    height: 2.4em;
    cursor: pointer;
    font-size: .8em;
    font-weight: 600;
    line-height: 2.4em;
    text-align: center;
    text-decoration: none;
    color: var(--color-text);
    border-radius: var(--border-radius);
}

.projects-box > .bottom > .item > .icon {
    float: left;
    width: 2.4em;
    text-align: center;
    line-height: 2.4em;
}

.projects-box > .bottom > .item:hover {
    box-shadow: var(--box-shadow);
    background: var(--color-border);
}