.toc-box {
    top: 0;
    right: 0;
    width: 18em;
    display: none;
    position: fixed;
    z-index: 999999999999;
    box-sizing: border-box;
    color: var(--color-text);
    padding: var(--spacing-md);
    padding-bottom: 0 !important;
    box-shadow: var(--box-shadow);
    margin-top: var(--header-size);
    background: var(--color-pre-bg);
    border-left: .1em solid var(--color-border);
    border-bottom: .1em solid var(--color-border);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.toc-box > .header {
    font-weight: 600;
    margin-top: -.5em;
    line-height: 2.5em;
}

.toc-box > .search {
    width: 100%;
    border: none;
    outline: none;
    height: 2.5em;
    display: block;
    color: inherit;
    font-weight: bold;
    line-height: 2.5em;
    text-decoration: none;
    background: var(--color-bg);
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
    margin-bottom: var(--spacing-sm);
    border-radius: var(--border-radius);
    border: .1em solid var(--color-border);
}

.toc-box > .list {
    padding: 1em;
    overflow: auto;
    max-height: 14em;
    margin-left: -1em;
    margin-right: -1em;
    border-top: .1em solid var(--color-border);
}

.toc-box > .list > a {
    width: 100%;
    height: 100%;
    display: block;
    color: inherit;
    font-size: .8em;
    font-weight: 600;
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border-left: 0 solid var(--color-text);
}

.toc-box > .list > a:hover {
    color: inherit;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    background: var(--color-border);
    border-left: 0 solid transparent;
    animation: border-slide .5s ease-in-out forwards;
}