*,
*::before,
*::after {
	box-sizing: border-box;
}

#wikipedia-preview {
	width: 320px;
	display: none;
	cursor: default;
	margin: 2rem auto;
	background: inherit;
	padding-bottom: .1rem;
	z-index: 99999999999999;
	box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.3), 0 0 1px 1px rgba(0, 0, 0, 0.05);
}

#wikipedia-preview img {
	width: 320px;
	display: none;
	object-fit: cover;
	-o-object-fit: cover;
}

#wikipedia-preview .set-triangle {
	--x1: 0;
	--x2: var(--pseudo-radius);
	--x3: calc(var(--pointer-offset) - (var(--pointer-width) / 2));
	--x4: var(--pointer-offset);
	--x5: calc(var(--pointer-offset) + (var(--pointer-width) / 2));
	--x6: calc(100% - var(--pseudo-radius));
	--x7: 100%;
	--y1: 0;
	--y2: var(--pointer-height);
	--y3: calc(var(--pointer-height) + var(--pseudo-radius));
	--y4: calc(100% - var(--pseudo-radius));
	--y5: 100%;
	padding-top: 0;
	display: flex;
	background: #fff;
	--pseudo-radius: 2px;
	--pointer-height: 8px;
	--pointer-width: 16px;
	--pointer-offset: 26px;
	-webkit-clip-path: polygon(var(--x2) var(--y2), var(--x3) var(--y2), var(--x4) var(--y1), var(--x5) var(--y2), var(--x6) var(--y2), var(--x7) var(--y3), var(--x7) var(--y4), var(--x6) var(--y5), var(--x2) var(--y5), var(--x1) var(--y4), var(--x1) var(--y3));
	clip-path: polygon(var(--x2) var(--y2), var(--x3) var(--y2), var(--x4) var(--y1), var(--x5) var(--y2), var(--x6) var(--y2), var(--x7) var(--y3), var(--x7) var(--y4), var(--x6) var(--y5), var(--x2) var(--y5), var(--x1) var(--y4), var(--x1) var(--y3));
	position: relative;
	top: -9px;
}

#wikipedia-preview p {
	font-size: 14px;
	line-height: 1.5;
	position: relative;
	margin: 0 1rem 1rem 1rem;
}

#wikipedia-preview p::after {
	content: " ";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25%;
	height: 20px;
	pointer-events: none;
}

#wikipedia-preview a {
	color: inherit;
	text-decoration: none;
}