.post-content > .content > .ytc-plugin {
    position: static;
    box-sizing: border-box;
    padding: var(--spacing-sm);
    box-shadow: var(--box-shadow);
    background: var(--color-border);
    margin-bottom: var(--spacing-md);
    border-radius: var(--border-radius);
    border: .1em solid var(--color-pre-bg);
}

.post-content > .content > .ytc-plugin::before {
    float: left;
    display: block;
    font-size: .9em;
    font-weight: 600;
    content: "Capítulos";
    padding-left: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
}

.post-content > .content > .ytc-plugin > input {
    width: 32%;
    height: 26px;
    border: none;
    float: right;
    outline: none;
    color: inherit;
    font-size: .8em;
    font-weight: 600;
    background: transparent;
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
    border-radius: var(--border-radius);
}

.post-content > .content > .ytc-plugin > input:hover, 
.post-content > .content > .ytc-plugin > input:focus {
    animation: bg-color .5s ease-in-out forwards;
}

.post-content > .content > .ytc-plugin > .body {
    width: 100%;
    display: block;
    margin-top: 42px;
    overflow-y: auto;
    max-height: 190px;
}

.post-content > .content > .ytc-plugin > .body > .chapter {
    height: 3em;
    display: flex;
    color: inherit;
    cursor: pointer;
    font-size: .8em;
    font-weight: 600;
    line-height: 3em;
    text-decoration: none;
    justify-content: space-between;
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
}

.post-content > .content > .ytc-plugin > .body > .chapter > .left { float: left; }

.post-content > .content > .ytc-plugin > .body > .chapter > .right { float: right; }

.post-content > .content > .ytc-plugin > .body > .chapter:hover {
    border-radius: var(--border-radius);
    animation: bg-color .5s ease-in-out forwards;
}