.post-content > .content > .ytc-plugin {
    display: none;
    position: static;
    min-height: 46px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    margin-top: var(--spacing-sm);
    padding-top: var(--spacing-sm);
    background: var(--color-border);
    margin-bottom: var(--spacing-md);
    padding-bottom: var(--spacing-sm);
    border-radius: var(--border-radius);
    border: .1em solid var(--color-pre-bg);
}

.post-content > .content > .ytc-plugin > .title {
    float: left;
    display: block;
    cursor: pointer;
    font-size: .9em;
    font-weight: 600;
    margin-top: var(--spacing-xs);
    margin-left: var(--spacing-sm);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    border-radius: var(--border-radius);
}

.post-content > .content > .ytc-plugin > .title-active,
.post-content > .content > .ytc-plugin > .title:hover { 
    animation: bg-color .5s ease-in-out forwards; 
}

.post-content > .content > .ytc-plugin > .controls {
    float: right;
    margin-right: var(--spacing-sm);
}

.post-content > .content > .ytc-plugin > .controls > .icon {
    width: 26px;
    float: left;
    border: none;
    outline: none;
    color: inherit;
    cursor: pointer;
    font-size: .8em;
    line-height: 26px;
    text-align: center;
    margin-left: var(--spacing-xs);
    border-radius: var(--border-radius);
}

.post-content > .content > .ytc-plugin > .controls > .active,
.post-content > .content > .ytc-plugin > .controls > .icon:hover { 
    animation: bg-color .5s ease-in-out forwards; 
}

.post-content > .content > .ytc-plugin > .controls > input {
    width: 14em;
    float: left;
    height: 26px;
    border: none;
    display: none;
    outline: none;
    color: inherit;
    font-size: .8em;
    font-weight: 600;
    background: transparent;
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
    border-radius: var(--border-radius);
}

.post-content > .content > .ytc-plugin > .controls > input:hover, 
.post-content > .content > .ytc-plugin > .controls > input:focus {
    animation: bg-color .5s ease-in-out forwards;
}

.post-content > .content > .ytc-plugin > .controls > .chapter-label {
    float: left;
    height: 26px;
    color: inherit;
    font-size: .8em;
    font-weight: 600;
    line-height: 26px;
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    border-radius: var(--border-radius);
}

.post-content > .content > .ytc-plugin > .body {
    width: 100%;
    display: none;
    overflow-y: auto;
    max-height: 190px;
    padding: var(--spacing-sm);
    margin-top: var(--spacing-md);
}

.post-content > .content > .ytc-plugin > .body > .chapter {
    height: 3em;
    display: flex;
    color: inherit;
    cursor: pointer;
    font-size: .8em;
    font-weight: 600;
    line-height: 3em;
    text-decoration: none;
    justify-content: space-between;
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
    border-radius: var(--border-radius);
}

.post-content > .content > .ytc-plugin > .body > .chapter > .left { float: left; }

.post-content > .content > .ytc-plugin > .body > .chapter > .right { float: right; }

.post-content > .content > .ytc-plugin > .body > .chapter:hover { animation: bg-color .5s ease-in-out forwards; }