<!DOCTYPE html>
<html lang='en'>
<head>
    {% include 'partials/head-tags.html' %}
</head>
<body>
    {% include 'partials/header.html' %}

    {% include 'partials/menu-links.html' %}

    <div class='tools-content'>
        <div class="header">Subdomains</div>
        <input type='text' id='subdomain' placeholder="Type your domain and after click 'Enter'" />
        
        <div class="results">
            <div class="text">Results</div>
            <div class="number">1k de resultados</div>
        </div>

        <div class="content" id="tools-subdomains-content">
            <ul>
                <li>
                    <a href="#">rate-limited-proxy-66-249-92-11.google.com</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
                <li>
                    <a href="#">Teste</a>
                </li>
            </ul>
        </div>
    </div>
    
    {% include 'partials/scripts.html' %}
</body>
</html>