<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>{{ site_name }}: Blog {{ post_title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    
    {{ external_css_libs }}
    
    {% for css_file in internal_css_libs %}
        <link rel='stylesheet' href='{{ url_root + url_for('static', filename=css_file) }}'>
    {% endfor %}

    {{ external_fonts }}
</head>
<body>
    <article class='markdown-body'>
        <img src='{{ qr_code }}' />

        <div id='wikipedia-preview'>
            <a class='set-triangle'>
                <img alt='globe'/>
            </a>

            <a>
                <p></p>
            </a>
        </div>
        
        {{ html_content }}

        <div id='pdfLinksList'>
            <p>
                <i class='fa-solid fa-paperclip'></i>
                Documents:
            </p>
        </div>

        <div id='wikiLinksList'>
            <p>
                <i class='fa-solid fa-book'></i>
                Referencies:
            </p>
        </div>
    </article>
    
    {{ external_js_libs }}

    {% for js_file in internal_js_plugins %}
        <script src='{{ url_root + url_for('static', filename=js_file) }}'></script>
    {% endfor %}

    {% for js_file in internal_js_libs %}
        <script src='{{ url_root + url_for('static', filename=js_file) }}'></script>
    {% endfor %}
</body>
</html>