<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>{{ site_name }}: Blog {{ post_title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src='https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/gh/PrismJS/prism-themes/themes/prism-vsc-dark-plus.css' rel='stylesheet'>
</head>
<body>
    {{ html_content }}

    {{ blog_external_js_libs }}

    {% for js_file in blog_internal_js_libs %}
        <script src='{{ url_for('static', filename=js_file) }}'></script>
    {% endfor %}
</body>
</html>