<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>{{ site_name }}: Blog {{ post_title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    
    {% for css_file in internal_css_libs %}
        <link rel='stylesheet' href='{{ url_for('static', filename=css_file, _external=True) }}'>
    {% endfor %}

    {{ external_fonts }}
</head>
<body>
    <header>
        <div class="logo"></div>
        <div class='label' id='headerLabel'></div>

        <div class='nav'>
            <div class='fa-solid fa-search'></div>
        </div>
    </header>

    <ul class="posts">
        {% for post in posts_list %}
            <a href="{{ post.url }}">
                <li class="article">
                    <div class="date">{{ post.date }}</div>
        
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.description }}</p>
                </li>
            </a>
        {% endfor %}
    </ul>
</body>
</html>