<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>{{ site_name }}: Blog {{ post_title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    
    {% for css_file in internal_css_libs %}
        <link rel='stylesheet' href='{{ url_root + url_for('static', filename=css_file) }}'>
    {% endfor %}

    {{ external_fonts }}
</head>
<body>
    <header>
        <div class="logo"></div>
        <div class='label' id='headerLabel'>{{ post_title.replace(">", "") }}</div>

        <div class='nav'>
            <div class='fa-solid fa-arrow-up' id='scrollToTopBtn'></div>
            <div class='fa-solid fa-book' id='scrollToRefsBtn'></div>
            <div class='fa-solid fa-paperclip' id='scrollToDocsBtn'></div>
        </div>
    </header>

    <article class='markdown-body'>
        {{ html_content }}

        <div class='plugin-section' id='pdfLinksList'>
            <p>
                <i class='fa-solid fa-paperclip'></i>
                Documents:
            </p>
        </div>

        <div class='plugin-section' id='wikiLinksList'>
            <p>
                <i class='fa-solid fa-book'></i>
                Referencies:
            </p>
        </div>
    </article>
    
    {{ external_js_libs }}

    {% for js_file in internal_js_plugins %}
        <script src='{{ url_root + url_for('static', filename=js_file) }}'></script>
    {% endfor %}

    {% for js_file in internal_js_libs %}
        <script src='{{ url_root + url_for('static', filename=js_file) }}'></script>
    {% endfor %}
</body>
</html>