<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>{{ site_name }}: Blog {{ post_title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    
    {% for css_file in internal_css_libs %}
        <link rel='stylesheet' href='{{ url_root + url_for('static', filename=css_file) }}'>
    {% endfor %}

    {{ external_fonts }}
</head>
<body>
    <header>
        <a href="{{ url_root }}" class="logo"></a>
        <div class='label' id='headerLabel'>{{ post_title.replace(">", "") }}</div>

        <div class='nav'>
            <div class='fa-solid fa-arrow-up' id='scrollToTopBtn'></div>
        </div>
    </header>

    <article class='post-content'>
        {{ html_content }}
    </article>
    
    {{ external_js_libs }}

    {% for js_file in internal_js_plugins %}
        <script src='{{ url_root + url_for('static', filename=js_file) }}'></script>
    {% endfor %}

    {% for js_file in internal_js_libs %}
        <script src='{{ url_root + url_for('static', filename=js_file) }}'></script>
    {% endfor %}
</body>
</html>