<!DOCTYPE html>
<html lang='en'>
<head>
    {% include 'partials/head-tags.html' %}
</head>
<body>
    {% include 'partials/header.html' %}

    <div class='projects-content'>
        <div class='header'>
            <div class='text'>
                <div class='fas fa-diagram-project icon'></div>
                Projects
            </div>

            <div class="tabs">
                <select name="" id="">
                    <option value="apis">GitHub</option>
                    <option value="apis">Crates</option>
                    <option value="apis">Api's</option>
                    <option value="apis">Project's</option>
                </select>
            </div>
        </div>

        <div class='list'>
            <div class="none">
                <div class="text">Soon...</div>
            </div>
        </div>
    </div>
    
    {% include 'partials/scripts.html' %}
</body>
</html>