<!DOCTYPE html>
<html lang='en'>
<head>
    {% include 'partials/head-tags.html' %}
</head>
<body>
    {% include 'partials/header.html' %}

    <div class="bio">
        <div class="user">
            <img src="https://avatars.githubusercontent.com/u/24691979?v=4" alt="Profile Picture">

            <div class="name">Hi, I'm <strong>Kremilly</strong>! <div class='animate-wave'>👋</div></div>
            
            <div class="badge">Software Engineer</div>
            <div class="badge">Low Level Engineer</div>
            <div class="badge">Backend Developer</div>
        </div>

        <div class="bio">I am a <strong>software engineer</strong> with a passion for building innovative solutions. I have experience in various programming languages and frameworks, and I love tackling complex challenges. I am always eager to learn new technologies and improve my skills.</div>

        <div class="bio">I'm a backend developer with experience building high‑performance, scalable, and secure systems using <strong>Rust</strong>, <strong>Python</strong>, and <strong>Go</strong>. I have a strong understanding of concepts such as concurrency, performance optimization, and robust API design. I have experience with containerization technologies like <strong>Docker</strong>. I am passionate about writing clean, maintainable code and following best practices in software development.</div>
    </div>

    <div class="container-projects">
        <div class="projects" id="projectsListPage"></div>

        <div class="label">
            <a href='{{ github }}' target='_blank'>GitHub</a>
            <div class="right" id="toggleReposListPage">Show/Hide</div>
        </div>

        <div class="projects" id="reposListPage"></div>

        <div class="label">
            <a href='{{ crates }}' target='_blank'>Crates</a>
            <div class="right" id="toggleCratesListPage">Show/Hide</div>
        </div>
        
        <div class="projects" id="cratesListPage"></div>
    </div>
    
    {% include 'partials/scripts.html' %}
</body>
</html>